/* --------------------
 * @AUTHOR: jinzhenyuan
 * @CREATE: 2013.08.26
 * ------------------- */

@charset "utf-8";

/* COMMON */
body {font-size: 12px;font-family:Arial,Gotham, "Helvetica Neue", Helvetica, sans-serif;}

/* NAMESPACE */
.a_btn_set{ display:block; height:30px; width:70px; text-align:center; line-height:30px; font-size:14px; color:#fff; background:#1170e0; font-weight:400;}
.a_btn_set:hover{color:#fff; text-decoration:none;}
.center_line{ margin:0 auto;}
.bgc_fff{ background:#fff!important;}
/* RESPONSIVE
 * ---------------------------------------------- */
/* desktop */


.ver_sele{ vertical-align:middle;}
.pusno_left{ margin-left:0px!important;}
.account .account-nav li .menu3{ background-image:url("../images/metro-us/j_rightbg_img.png")}
.account .account-nav li .menu4{background-image:url("../images/metro-us/j_rightbg_img_02.png")}
.account .account-nav li .menu5{background-image:url("../images/metro-us/j_rightbg_img_03.png")}
.account .account-nav li .menu6{background-image:url("../images/metro-us/j_rightbg_img_04.png")}

.account .section-body .account-inner .control-label.sty1{width:155px; text-align:right;}
.account .account-nav{float:left;width:185px;margin:30px 10px 0 0;}
.account .account-nav li{height: 90px;margin:0 0 10px;position: relative;}
.account .account-nav li > a{display: block;height:100%;background:#06c url() no-repeat center;color:#fff;}
.account .account-nav li .menu1{background-image:url("../images/metro/bg_account.png");}
.account .account-nav li .menu2{background-image:url("../images/metro/bg_com.png");}
.account .account-nav li.active > a{background-color:#f37c06;}
.account .account-nav li .menu-name{position: absolute;bottom: 5px;left: 10px;}
.account .right-content{float:left;width:710px;color:#666;}
.account .right-content .section-title{font-size:18px;height: 30px;}
.account .right-content .section-inner{padding:20px 30px;}
.account .right-content .section-body{margin-bottom:10px;}
.account .right-content .section-body table{line-height: 30px;}
.account .right-content .section-body .btn{padding:4px 18px;}
.account .right-content .section-body .btn.btn-mini{padding:2px 10px;}
.account .right-content .account-inner{height:520px;}
.account .right-content .tab-nav{height: 35px;line-height: 35px;}
.account .right-content .tab-nav > a{width: 140px;text-align:center;}
.account .right-content .tab-nav > a:hover{background-color:#09f;}
.account .right-content .tab-nav > a.active{*background:transparent url("../images/metro/ie7_ico1.png") no-repeat center bottom;}
.account .right-content .tab-nav > a.active:before{border-bottom: 5px solid #fff;border-left: 5px solid transparent;border-right: 5px solid transparent;bottom: 0;content: "";display: inline-block;left: 50%;margin-left: -5px;position: absolute;}
.account .section-body .account-inner{height:520px;}
.account .section-body .account-inner form{margin:0 auto;width:400px;padding:50px 0px 0px 0px;}
.account .section-body .account-inner .tableinleft{ width:150px; margin-right:10px}
.account .section-body .account-inner .control-label{text-align:left;width:110px;}
.account .section-body .account-inner .controls{margin-left: 125px;*margin-left: 15px;}
.account .section-body .account-inner .codeImg{display:inline-block;*display:inline;*zoom: 1;width:67px;height: 30px;vertical-align: middle;background-color:#fff;margin-left: 45px;}

.credit_by{margin:0 auto;color:#707070; font-family:"Microsoft yahei"}
.credit_history{ margin:0 auto; color:#707070;font-family:"Microsoft yahei"; border-right:1px solid #e0e0e0;}
.credit_history th{background:#0066cc; border-color:#fff; color:#fff; border-left:1px solid #fff; font-weight:normal;}
.credit_history td{border-left:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; color:#707070; text-align:center; font-size:12px;}
.form-horizontal_say{ margin:inherit!important;}
.input.mini1{ width:165px; vertical-align:middle!important;}
.input.mini2{ width:165px;}
.input.mini3{ width:125px;}
.input.mini4{ width:255px;}
.input.mini5{ width:245px;}
.input.mini6{ width:108px;}
.input.mini7{ width:60px;}
.select.mini1{ width:80px; height:30px; vertical-align:middle;}
.select.mini2{width:179px; height:30px; vertical-align:middle;}
.select.mini3{ width:139px;}
.select.mini4{ width:190px;}
.select.mini5{ width:122px;}
.select.mini6{ width:259px;}

.face_views{margin:0 auto;width:122px;height:122px; overflow:hidden;  background:url("../images/metro-us/face_ivews_bg.png") no-repeat center top; border:1px solid #ededed;}
.face_views img{min-height:100%; width:auto;}
.a_tab_width{ min-width:120px; width:auto; padding:0px 15px;}

.account .list_inadd{margin-right:-10px; margin-top:10px;}
.account .list_inadd.heighed{height:520px;}
.account .list_inadd li{ float:left;width:230px; height:162px; margin-right:10px; margin-bottom:10px;}
.account .list_inadd li.sty2{ height:120px;}
.account .list_inadd li.add{background:#0066cc; text-align:center; vertical-align:middle;}
.account .list_inadd li.add a{ position:absolute; top:28%; left:37.5%;}
.account .list_inadd li.othes{ background:#f5f5f5; color:#7d7d7d;}
.account .list_inadd li.othes p{ line-height:22px; padding:0px 15px;}
.account .list_inadd li .check_del{ position:absolute; right:5%; top:5%; display:block; width:25px; height:25px; background:url(../images/metro-us/postiotn_check.png) no-repeat;}
.the_minwidth_tb{ width:709px;}

.tables_in-td td{ vertical-align:text-top;}

/**/


/*.metro .header .header-right{min-width:100px;text-align: right;white-space:nowrap; margin-right:5px!important;}
*/


@media (min-width:1200px) {
body{font-size:14px;}
.right-content{width:1100px;}
.a_tab_width{ min-width:150px; width:auto!important; padding:0px 15px;}
.account .right-content{float:left;width:905px;color:#666;}
.account .list_inadd{ margin-right:-10px; margin-top:10px;}	
.account .list_inadd li{ float:left;width:295px; height:162px; margin-right:10px; margin-bottom:10px;}
.account .list_inadd li.sty2{ height:120px;}
.account .list_inadd li.add{background:#0066cc; text-align:center; vertical-align:middle;}
.account .list_inadd li.add a{ position:absolute; top:26%; left:38.5%;}
.account .list_inadd li.othes{ background:#f5f5f5; color:#7d7d7d;}
.account .list_inadd li.othes p{ line-height:22px; padding:0px 15px;}
.account .the_minwidth_tb{ width:783px!important;}
.account .section-body .account-inner form{margin:0 auto;width:480px;padding:50px 0 0 0;}
.account .section-body .account-inner .tableinleft{ width:220px; margin-right:20px}
.account .list_inadd.heighed{height:550px;}

}